[submodule "LeetCode"]
	path = LeetCode
	url = https://github.com/li-chiun-lin/LeetCode.git
	
[submodule "GeeksforGeeks"]
	path = GeeksforGeeks
	url = https://github.com/li-chiun-lin/GeeksforGeeks.git
[submodule "GoogleKickStart"]
	path = GoogleKickStart
	url = https://github.com/li-chiun-lin/GoogleKickStart.git
[submodule "GoogleCodeJam"]
	path = GoogleCodeJam
	url = https://github.com/li-chiun-lin/GoogleCodeJam.git
[submodule "ProjectEuler"]
	path = ProjectEuler
	url = https://github.com/li-chiun-lin/ProjectEuler.git
[submodule "MetaHackerCup"]
	path = MetaHackerCup
	url = https://github.com/li-chiun-lin/MetaHackerCup.git
